body,h1,h2{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Text-Regular';
   color: #161513;
}

.login{
    display: flex;
    justify-content: center;
}
.login::before,.login::after{
content: '';
display: inline-block;
width: 100%;
background: #302d2a;
height: 100vh  ;
}
.login::after{
    background: #f1efed;
}
.login .container{
    display: flex;
    width: 1440px;
}
.login .leftBanner{
    background: #302d2a;
    width: 810px;
    height:calc( 100vh - 115px);
    padding: 115px 0 0 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
min-height:937px;
}
.login .leftBanner h1{
    font-size: 50px;
    color: #b84f3c;
    align-self: normal;
    height: 132px;
    margin-bottom: 20px;
}
.login .leftBanner img{
    width: 464px;
    height: 427px;
    align-self: normal;
    margin-left: 97px;
}
.login .leftBanner h2{
    font-size: 40px;
    color: #fff;
    align-self: normal;
    height: 75px;
}
.login .rightArea{
    background: #f1efed;
   width: 630px;
    height: 100vh;
    padding: 96px 0 0 89px;
    height:calc( 100vh - 96px);
min-height:937px;
}
.login .rightArea .title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 57px;
}
.login .rightArea .subtitle{
   color: #161513;
   margin-top: 10px;
   margin-bottom: 40px;
   font-size: 24px;
}
.login .rightArea .subtitle span{
    color: #b84f3c;
    cursor: pointer;
 }
 .login .rightArea .btn {
    margin-top: 113px;
}
.login .rightArea .label{
    font-size: 30px;
    margin-bottom: 4px;
}
.login .rightArea .input {
    margin-bottom: 40px ;
    width: 100%;
}
 .login .rightArea .input input {
    border-radius: 15px;
    width: 377px;
    padding: 10px 25px;
    font-size: 24px;
    border: 2px solid #dcdada;
 }
 .login .rightArea .input input::placeholder {
    font-size: 24px;
     color: #706d6d;
 }
 .login .rightArea .btn button{
     font-size: 24px;
     color: #fff;
     border-radius: 15px;
    width: 431px;
    height: 53px;
    background: #b84f3c;
    cursor: pointer;
    border-color: transparent;
    padding: 10px 25px;
 }
 .login .rightArea header{
    width: 431px;
    background: #eadad6;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: 57px;
}
.login .rightArea header div{
    width: 40%;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    cursor: pointer;
    line-height: 37px;
}
.login .rightArea header div.active{
    margin-top: 10.5px;
    height: 36px;
    padding: 0 !important;
    background: #b84f3c;
    border-radius: 15px;
    color: #fff;
    line-height: 36px;
}
 button:focus,button:hover,button:active,button,input:focus,input:hover,input:active,input{
     box-shadow: 0;
     outline: 0;
 }
 .isRememberMe {
     display: flex;
     width: 431PX;
     justify-content: space-between;
     color: #706d6d;
 }
 .isRememberMe span:last-child {
    cursor: pointer;
}
.password{
    position: relative;
}

.isRememberMe span:first-child {
display: flex;
align-items: center;
}

.pwdIcon{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 400px;
    top: 18px;
    cursor: pointer;

    background: #f00;
       /*
    delete background
    add background-image
     */
}

.rememberIcon{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer; 
    display: inline-block;

    background: #fff;
     /*
    delete background
    add background-image
    Switch to the un-selected picture 
     */
}
.isRemember{
    background: #f00 !important;
    /*
    delete background
    add background-image
    Switch to the selected picture 
     */
}