::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #3ccc64;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.font {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #f3f3f3;
    line-height: 1.8;
    font-size: 14px;
    margin: 0 auto;
    font-family: 'Josefin Sans', 'PingFang SC', sans-serif;
}


a {
    color: #313131;
    outline: 0;
    text-decoration: none;
}
.bg-white{
    background: rgba(255,255,255,.7);
}